<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <%- include('header') %>
    <div class="pokemon">
        <div class="profile">
            <h2><%= pokemon.forms[0].name.slice(0,1).toUpperCase() %><%= pokemon.forms[0].name.slice(1) %></h2>
            <img src="<%= pokemon.sprites.other["official-artwork"].front_default %>" alt="image of <%= pokemon.forms[0].name %>">
        </div>

        <div class="t_s">
            <ul class="types">
                <h3>Types</h3>
                <% for (type of pokemon.types) { %>
                    <li><%= type.type.name.slice(0,1).toUpperCase() %><%= type.type.name.slice(1) %></li>
                <% } %>
            </ul>

            <ul class="stats">
                <h3>Stats</h3>
                <% for (stat of pokemon.stats) { %>
                    <li><%= stat.stat.name.slice(0,1).toUpperCase() %><%= stat.stat.name.slice(1) %>: <%= stat.base_stat %></li>
                <% } %>
            </ul>
        </div>
    </div>
    <%- include('footer') %>
</body>
</html>